<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Sign In</title>
    <th:block th:insert="fragments/semanticElements :: head" />
</head>
<body>
<div th:replace="fragments/semanticElements :: navbar" />
<div class="container mt-5">
    <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']}">
        <div class="alert alert-danger" role="alert" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">

        </div>
    </div>
    <div th:class="${messageType}" role="alert" th:text="(${message} == null)? '' : ${message}"/>
    <div th:insert="fragments/formEnterUserData :: form ('/login', 'Sign In', false)" />
    <div class="mt-2">
        <a  href="/registration">Sign up</a>
    </div>
</div>
<div th:replace="fragments/semanticElements :: scripts"/>
</body>
</html>