<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <th:block th:insert="fragments/semanticElements :: head" />
</head>
<body>
    <!-- logout -->
    <th:block th:replace="fragments/semanticElements :: logout" />
    <span><a th:href="@{user}">User List</a></span>
    <!-- create -->
    <div>
        <form method="post" th:action="@{/main}">
            <input type="text" name="text" placeholder="Введите сообщение">
            <input type="text" name="tag" placeholder="Тэг">
            <button type="submit">Добавить</button>
        </form>
    </div>
    <!-- output -->
    <div>Список сообщений</div>
    <form method="get" th:action="@{/main}">
        <input type="text" name="filterTag" th:value="${filter}">
        <button type="submit">Найти</button>
    </form>
    <div th:each="message : ${messages}">
        <b th:text="${message.id}"/>
        <span th:text="${message.text}" />
        <i th:text="${message.tag}" />
        <strong th:text="${message.getAuthorName()}" />
    </div>


</body>
</html>