<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <th:block th:insert="fragments/semanticElements :: head" />
</head>
<body>
<div th:replace="fragments/semanticElements :: navbar" />
<div class="container mt-5" >
<p>Sign Up!</p>
<p th:text="( (${message} == null)? '' : ${message})">
<div th:insert="fragments/formEnterUserData :: form ('/registration', 'Sign Up', 'email')" />
</div>
<div th:replace="fragments/semanticElements :: scripts"/>
</body>
</html>